* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Mulish;
    font-weight: bold;
}

/*Utility*/

h2 {
    font-weight: bolder;
    font-size: 46px;
    margin-top: 30px;
}

h3 {
    font-weight: bolder;
    font-size: 30px;
    margin-top: 30px;
}

.btn {
    font-size: 15px;
    border-radius: 40px;
    padding: 5px 20px;
}

.btn:hover {
    box-shadow: 0px 6px 18px 0px #0000005e;
}

.padding-vertical-100 {
    padding: 100px 0;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.container {
    width: 60%;
    margin: 0 auto;
}

.row {
    width: 100%;
    display: flex;
}

/* header */

header {
    height: 55px;
    background-color: #2e60e4;
    display: flex;
    align-items: center;
}

.container header {
    display: flex;
    align-items: center;
}

.col-sm-header {
    width: 20%;
    display: flex;
    align-items: center;
}

.display-flexend {
    justify-content: flex-end;
}

.col-lg-header {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

li {
    padding: 0 20px;
    color: white;
}

.btn-login {
    background-color: white;
    border: 1px solid white;
}

/* main */

/* Section 1 */

.background {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.container-s1 {
    width: 30%;
    margin: 0 auto;
}

.col-lg-s1 {
    width: 100%;
    text-align: center;
    color: white;
}

.col-lg-s1 p {
    padding: 20px;
}

.btn-white {
    background-color: white;
    border: 1px solid white;
    margin: 0 15px;
}

.btn-black {
    background-color: black;
    border: 1px solid black;
    color: white;
    margin: 0 15px;
}

/* Section 2 */

.col-lg-60 {
    width: 60%;
}

.col-lg-60 img {
    width: 100%;
}

.col-sm-40 {
    width: 40%;
}

.col-sm-40 p {
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 20px;
}

/* Section 3 */

.background-grey {
    background-color: lightgray;
}

/* Section 5 */

.col-lg-s5 {
    width: 100%;
    text-align: center;
}

.col-lg-s5 p {
    font-size: 20px;
}

.col-lg-s5 div {
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
}

.btn-purple {
    background-color: #8EA1E1;
    border: 1px #8EA1E1 solid;
    color: white;
    font-size: 25px;
    padding: 15px 20px;
}

/* Section 6 */

.background-black {
    background-color: black;
}

.col-lg-s6 {
    width: 60%;
    height: 400px;
    background-color: #e657ff;
    border: dashed 2px black;
}

.col-sm-s6 {
    width: 40%;
    height: 400px;
    background-color: lightblue;
    border: dashed 2px black;
}

/* Footer */

footer {
    height: 100px;
    background-color: black;
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.row-footer {
    background-color: lightskyblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    border: dashed 2px black;
}

.col-sm-footer {
    height: 30px;
    background-color: pink;
    border: dashed 2px black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}